<!--<html>-->

<!--<p style="">-->
<!--<center>-->
<!--    {% load static %} <img src="{% static 'Patient/media/logo_E_Bell_1.png' %}"/>-->
<!--</center>-->

<!--</p>-->


<!--<body>-->
<!--{%block content %}-->

<!--{% endblock content %}-->
<!--</body>-->

<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<p style="">
<center>
    {% load static %} <img src="{% static 'Patient/media/logo_E_Bell_1.png' %}"/>
</center>

</p>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>E-Bell</title>
</head>
<body>
<h1 class="alert alert-danger">University of Calgary</h1>
<h2 class="alert alert-primary">E Bell System</h2>
    {% block content %}
replace me
    {% endblock %}
</body>
</html>